<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/reset.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/style.css"  type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/images/favicon.svg">
    <title>Erik M. Paffett | Portfolio Site</title>
</head>
<body>
   
    <header class="right-flx">
        <nav>
            <a href="https://www.linkedin.com/in/erik-paffett-073877262/" target="_blank">linkedin</a>
            <a href="https://github.com/emp1211" target="_blank">github</a>
            <a href="#projects">projects</a>
        </nav>
        <button id="dropdown-menu" class="dropdown-menu">
            <img src="/images/menu.svg" alt="" class="menu" />
        </button>
    </header>
        
    <div id="dropdown-nav" class="dropdown-nav">
        <a href="#" class="droplinks" >linkedin</a>
        <a href="https://github.com/emp1211" target="_blank" class="droplinks">github</a>
        <a href="#projects" class="droplinks">projects</a>
    </div>

    <div id="dropdown-nav" class="dropdown-nav">
        <a href="#" class="droplinks">linkedin</a>
        <a href="https://github.com/emp1211" target="_blank" class="droplinks">github</a>
        <a href="#projects" class="droplinks">projects</a>
    </div>

    <div class="banner-container center-flx">
        <main class="content txt-center">
            <h1>erik paffett</h1>
            <p class="dev">software/web developer</p>
            <p class="description">I am a web developer and software engineer based out of Ohio.</p>
        </main>
    </div>

    <div id="projects" class="project-container">
        <div class="triangle"></div>

        <h2 class="projects-heading reveal">Projects</h2>


        <div class="project-tile reveal">
            <a class="project-name" href="https://pixelle.netlify.app/" target="_blank">Pixel Art App</a>
            <p class="project-description">An interactive React pixel art app where users can color in paint-by-number templates</p>
            <div class="icon-container">
                <div class="left-icon">
                    <p class="technologies">View Live:</p>
                    <a class="icon-link" href="https://pixelle.netlify.app/" target="_blank">
                        <img src="/images/palette.svg" alt="" class="icon">
                    </a>
                </div>
                <div class="right-icon">
                    <p class="technologies">Source Code:</p>
                    <a class="icon-link" href="https://github.com/emp1211/pixel-art-app" target="_blank">
                        <img src="/images/github-logo.png" alt="" class="github-icon">
                    </a>
                </div>
            </div>
        </div>


        <div class="project-tile reveal">
            <a class="project-name" href="https://strickland.netlify.app/" target="_blank">Strickland</a>
            <p class="project-description">A mock company website with responsive design, banner ad timer, and Google Maps marker</p>
            <div class="icon-container">
                <div class="left-icon">
                    <p class="technologies">View Live:</p>
                    <a class="icon-link" href="https://strickland.netlify.app/" target="_blank">
                        <img src="/images/webpage.svg" alt="" class="icon">
                    </a>
                </div>
                <div class="right-icon">
                    <p class="technologies">Source Code:</p>
                    <a class="icon-link" href="https://github.com/emp1211/strickland" target="_blank">
                        <img src="/images/github-logo.png" alt="" class="github-icon">
                    </a>
                </div>
            </div>
        </div>


        <div class="project-tile reveal">
            <h3 class="project-name">Word Sandwich</h3>
            <p class="project-description">A mock company website with responsive design, CSS flex, Vanilla JS, Google Maps API</p>
            <p class="technologies">CSS Flexbox, JavaScript, Google Maps API</p>
            <img src="/images/word-sandwich.svg" alt="" class="icon">
        </div>



        <div class="project-tile reveal">
            <h3 class="project-name">Sandlot</h3>
            <p class="project-description">A mock company website with responsive design, CSS flex, Vanilla JS, Google Maps API</p>
            <p class="technologies">CSS Flexbox, JavaScript, Google Maps API</p>
            <img src="/images/baseball.svg" alt="" class="icon">
        </div>

        <div class="project-tile reveal">
            <h3 class="project-name">Tic-Tac-Toe</h3>
            <p class="project-description">A mock company website with responsive design, CSS flex, Vanilla JS, Google Maps API</p>
            <p class="technologies">CSS Flexbox, JavaScript, Google Maps API</p>
            <img src="/images/tic-tac-toe.svg" alt="" class="icon">
        </div>

        <div class="project-tile reveal">
            <h3 class="project-name">Weather</h3>
            <p class="project-description">A mock company website with responsive design, CSS flex, Vanilla JS, Google Maps API</p>
            <p class="technologies">CSS Flexbox, JavaScript, Google Maps API</p>
            <img src="/images/snowflake.svg" alt="" class="icon">
        </div>

        <div class="project-tile reveal">
            <h3 class="project-name">Playlist Creator</h3>
            <p class="project-description">A mock company website with responsive design, CSS flex, Vanilla JS, Google Maps API</p>
            <p class="technologies">CSS Flexbox, JavaScript, Google Maps API</p>
            <img src="images/headphones.svg" alt="" class="icon">
        </div>

        <div class="project-tile reveal">
            <h3 class="project-name">Stock Tracker</h3>
            <p class="project-description">Solution code to a class assignment, IEX api, python/flask with jinja templating, bootstrap CSS</p>
            <p class="technologies">CSS Flexbox, JavaScript, Google Maps API</p>
            <img src="images/stock-chart.svg" alt="" class="icon">
        </div>

    </div>

    <footer>
        
        <p>Copyright (c) 2023 Erik M. Paffett</p>
        <p>Landing page vector art by Rico Vickyanto. For more, see link below:</p>
        <a href="https://www.vecteezy.com/free-vector/tech">Tech Vectors by Vecteezy</a>

    </footer>
   
    <script src="/javascripts/animation.js"></script>
    <script src="/javascripts/dropdown.js"></script>
</body>
</html>